<div class = "bg">
<div class="container" *ngIf="playlist!=null">
  <div class="row">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="1" style = "padding:30px; padding-left: 0px"><img src ="{{playlist.image}}" class= "cover"></td>
        <td rowspan="1">PLAYLIST<br>
          <h1><b>{{playlist.title}}</b></h1><br>
          Created by: <a routerLink="/user/{{playlist.owner.id}}" class="green">{{playlist.owner.name}}</a> - {{playlist.songs.length}} Songs <br><br>
          <div></div>
          <button type="button" class="play expand-effect" (click)="playPlaylist()">Play</button>

          <!-- Current user's playlists options -->
          <span *ngIf="playlist.owner.id == currentUser.id">
            <button type="button" class="follow expand-effect" data-toggle="modal" data-target="#editPlaylist">
              Edit</button>

            <button type="button" class="delete expand-effect" data-toggle="modal" data-target="#delPlaylist">
              Delete</button>
          </span>

          <button *ngIf="playlist.owner.id != currentUser.id" type="button" class="follow expand-effect">
            Follow</button>
        </td>
      </tr>
    </table>

  </div>

  <div class ="row" *ngIf="playlist.description">
    <h3>Description</h3><hr>
    {{playlist.description}}
    <br><br>
  </div>
  <!--<div class="row">-->
    <!--<form class="navbar-form" role="search">-->
      <!--<div class="input-group">-->
        <!--<input type="text" class="form-control search-input" name="srch-term" placeholder="Filter">-->
        <!--<div class="input-group-btn">-->
          <!--<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->

  <br>
  <div class="row">
    <div *ngIf="playlist.songs.length == 0" align="center">
      <i><h3>There doesn't seem to be any songs in this playlist yet.</h3></i>
    </div>

    <table class="table table-hover table-responsive" id = "songs" *ngIf="playlist.songs.length > 0">
      <th></th>
      <th></th>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Duration</th>

      <tr *ngFor = "let song of playlist.songs;let index = i">
        <td width="50px"><img [src] ="playPauseImg" class="grow play-each"
                              (click) = "playPlaylist(song.id)"></td>
        <td><i class="fa fa-plus" aria-hidden="true"></i></td>
        <td align="left" class="overflow">{{song.songName}}</td>
        <!--<td class="overflow">{{song.artists[0].name}}</td>-->
        <td class="overflow">
          <a class ="green" [routerLink]="'/artist/'+ song.artist.id">{{song.artist.name}}</a></td>
        <td class="overflow">
          <a class ="green" [routerLink]="'/album/'+ song.album.id"> {{song.album.title}}</a>
        </td>
        <td>{{getMinSec(song.duration)}}</td>
      </tr>
    </table>
  </div>
</div>
</div>

<!-- Delete Playlist section --------------------------------------------------------------------->

<!-- Modal -->
<div id="delPlaylist" class="modal fade" tabindex="-1" role="dialog" *ngIf="playlist!=null">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Playlist</h4>
      </div>

      <div class="modal-body">

        <!-- Ask user if they really want to delete -->
        <div *ngIf="!deleted">
        <div align="center" class="disclaimer-box">
              <p class="disclaimer">
                You are about to delete:
              </p>
          <h3>{{playlist.title}}</h3>
        </div>
        <div align="center">
          <button type="button" class="cancel expand-effect"  data-dismiss="modal">Cancel</button>
          <button type="submit" class="delete-modal expand-effect" (click)="deletePlaylist()">Delete</button>
        </div>
        </div>

        <!-- Deleted message -->
        <div *ngIf="deleted">
          <div align="center" class="disclaimer-box">
            Playlist successfully deleted!
          </div>
          <div align="center">
            <button type="button" class="cancel expand-effect"  data-dismiss="modal">Cancel</button>
          </div>
        </div>
  </div>

</div></div>

<!-- Edit Playlist section --------------------------------------------------------------------->

<!-- Modal -->
<div id="editPlaylist" class="modal fade" tabindex="-1" role="dialog" *ngIf="playlist!=null">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Playlist</h4>
      </div>

      <form class="modal-body" (ngSubmit)="create.form.valid" #create="ngForm">
        <b>Title</b><br>
        <div class="input-box">
          <input id="title" type="text" class="form-control input_layout" name="userName"
                 [placeholder]="playlist.title" >
          <!--#title="ngModel" required>-->
          <!--<div *ngIf="f.submitted && !userName.valid">-->
          <!--<div [ngClass] = "'alert alert-danger'">Title Required</div>-->
          <!--</div>-->
        </div>

        <table cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="1" style = "padding:30px; padding-left: 0px">
              Image:<br>
              <img [src] = "playlist.image" height="200px"><br>
              <!--<button for = "myImage" type="button" class="btn-5 choose">-->
              <input type="file" class="chooseImg" id="myImage" name="myImage" accept="image/x-png,image/gif,image/jpeg"
                     #img (change) = "updatePic($event)" />
              <label for = "myImage" class="choose expand-effect">
                Choose an image</label>
              <!--</button>-->
            </td>
            <td rowspan="1" valign="top" style="padding-top:30px;">
              Description:<br>
              <textarea id="description" type="text" name = "desc"
                        class="form-control input_layout" style="width: 338px; height:260px"
                        [placeholder]="playlist.description"></textarea>

            </td>
          </tr>
        </table>

        <div align="center">
          <button type="button" class="cancel expand-effect"  data-dismiss="modal">Cancel</button>
          <button type="submit" class="create expand-effect">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
