.bg{
  background: linear-gradient(45deg,
  rgba(0, 0, 0, 0.98) 0%,
  rgb(61, 61, 60) 107%,
  rgba(10, 3, 8, 0.84) 122%,
  rgb(24, 23, 23) 100%) no-repeat;
  color: #F5F5F5;
  height: 100%;
  overflow-y: scroll;
}

.container{
  margin-bottom: 10%;
}

#songs tr:hover{
  background-color:#595959 !important;
}

/*.row{*/
  /*padding-right:5%;*/
/*}*/


.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.cover{
  width: 200px;
  border:1px solid #999999;
}

.play {
  display: inline-block;
  background-color: #1fb752;
  color: #fff;
  padding: 10px 0;
  width: 95px;
  border: 1px solid rgb(74, 185, 0);
}
.play:hover {
  background-color: #23d95d;
  color: #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.play:active {
  vertical-align: top;
  background-color: #2c8723;
}



.table td, .table th{
  border-color: #999999;
}
.table-hover>tbody>tr .play-each {
  height: 25px;
  visibility: hidden;
}

.table-hover>tbody>tr:hover .play-each{
  visibility: visible
}

.play-each:hover{
  transform: scale(1.1);
}


