.songs.table td,th,td{
  border-color: #595959;
}
.songs.table-hover>tbody>tr .play-each {
  height: 25px;
  visibility: hidden;
}

.songs.table-hover>tbody>tr:hover{
  background-color:#595959 !important;
}


.songs.table-hover>tbody>tr:hover .play-each{
  visibility: visible
}

.play-each:hover{
  transform: scale(1.1);
}

.right{
  float:right;
}

.left{
  float:left;
}

