<div class = "bg">
  <div class="container">
    <div class="row">
      <table width="100%">
        <tr>
          <td align="left">
            <h1>SONG QUEUE</h1>
          </td>
          <td align="right">
            <button type="button" class="delete expand-effect" (click)="resetQueue()">
              Reset</button>
          </td>
        </tr>
      </table>

      <hr>
      <br>
      <h3>Now Playing</h3>
      <div class="row">
        <div *ngIf="song != null; else noCurrent">
        <table class="table table-hover table-responsive songs">
          <th></th>
          <th></th>
          <th>Title</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Duration</th>

          <tr>
            <td width="50px"><img [src] ="playPauseImg" class="grow play-each"></td>
            <td><i class="fa fa-plus" aria-hidden="true"></i></td>
            <td align="left" class="overflow">{{song.songName}}</td>
            <td class="overflow">{{song.artist.name}}</td>
            <td class="overflow">{{song.album.title}}</td>
            <td>{{getMinSec(song.duration)}}</td>
          </tr>
        </table>
        </div>

        <ng-template #noCurrent>
          There are no songs currently playing.
        </ng-template>
      </div>

      <br>
      <h3>Next Up</h3>
      <div class="row">
        <div *ngIf="songQueue.length > 0; else noNext">
        <table class="table table-hover table-responsive songs">
          <th></th>
          <th>Title</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Duration</th>

          <tr *ngFor="let song of songQueue; let i = index">
              <!--<div *ngIf="i > 0">-->
              <td width="50px"><img [src] ="playPauseImg" class="grow play-each"></td>
              <td align="left" class="overflow">{{song.songName}}</td>
              <td class="overflow">
              {{song.artist.name}}</td>
              <td class="overflow">{{song.album.title}}</td>
              <td>{{getMinSec(song.duration)}}</td>

            <td>

              <!-- sub menu -->
              <div class="dropdown">
                <i class="arrow fa fa-ellipsis-h dropdown-toggle" data-toggle="dropdown"></i>
                <ul class="dropdown-menu">
                  <li><a href="#" class="link">Add to Library</a></li>
                  <li><a (click)="addSongToQueue(song)" class="link">Add to Queue</a></li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#" class="link">Add to Playlist</a>
                    <ul class="dropdown-menu" *ngFor="let playlist of currentUser.playlists">
                      <li><a tabindex="-1" (click)="addSongToPlaylist(playlist.id, song.id)" class="link">{{playlist.title}}</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </td>
              <!--</div>-->
            </tr>
        </table>
        </div>
          <ng-template #noNext>
            There are no songs currently next in the queue.
          </ng-template>

      </div>


    </div>
  </div>
</div>
