.navbar-fixed-left {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top:50px;
  width: 200px;
  position: fixed;
  height: 79%;
  border-radius: 0px;
  border: none;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 200px;
}

.navbar-fixed-left .navbar-nav > a:active{
  background-color: black
}

.navbar-fixed-left .navbar-nav > li:hover {
  background-color: black;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

.navbar-fixed-left + .container {
  padding-left: 70px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-left: 140px;
}

.modal-header{
  background-color: #222222;
  color: #1fb752;
}

.modal-content{
  background-color: #222222;
  color: #F5F5F5;
}
.fade {
  opacity: 1 !important;
}

button.close {
  color:#F5F5F5;
  opacity: 1;
}

.input_layout {
  border: medium none;
  border-radius: 0;
  float: left;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  width: 100%;
}


.create {
  display: inline-block;
  margin-right:5px;
  background-color: #1fb752;
  color: #fff;
  padding: 10px 0;
  width: 40%;
  border: 1px solid rgb(74, 185, 0);
}
.create:hover {
  background-color: #23d95d;
  color: #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.choose {
  display: inline-block;
  background-color: #222222;
  /*color: rgb(87, 216, 0);*/
  padding: 10px 0;
  width: 100%;
  margin-top: 10%;
  border: 1px solid #4ab900;
  text-align:center;
  cursor: pointer;
}

.cancel {
  display: inline-block;
  background-color: #222222;
  margin-right:5%;
  padding: 10px 0;
  width: 40%;
  margin-top: 10%;
  border: 1px solid #4ab900;
}

.chooseImg {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.modal.title{
  width:100%;
  margin-top:20px;
  color: #4ab900;

}
