<div class="navbar navbar-inverse navbar-fixed-left">

  <ul class="nav navbar-nav" bs-active-link>
    <li><a href="#!browse" ><i class="fa fa-angle-double-right" style = "padding-right: 10px"></i>Browse</a></li>
    <!--<li><a href="#!stations"><i class="fa fa-circle-thin" style = "padding-right: 10px"></i>Stations</a></li>-->
    <li><a href="#!songs"><i class="fa fa-music"style = "padding-right: 10px"></i>Songs</a></li>
    <li><a href="#!albums"><i class="fa fa-dot-circle-o" style = "padding-right: 10px"></i>Albums</a></li>
    <li><a href="#!artists"><i class="fa fa-user" style = "padding-right: 10px"></i>Artists</a></li>
    <li><a href="#!artists"><i class="fa fa-book" style = "padding-right: 10px"></i>Library</a></li>
    <!--<div class = "header">-->
      <!--<li>Library </li>-->
    <!--</div>-->

    <div class = "header">
      <li>Playlists

      <a href="#" class="link">
        <i class="fa fa-plus green" aria-hidden="true" style = "padding-left: 70px"
           data-toggle="modal" data-target="#addPlaylist" id="add-playlist"></i>
      </a>

    </div>

    <li [routerLink]="['/playlist']"><a>MJXT </a></li>
    <li [routerLink]="['/playlist/1']"><a>Playlist #2 </a></li>
    <li [routerLink]="['/home']"><a>Playlist #2 </a></li>
    <li [routerLink]="['/home']"><a>Playlist #2 </a></li>
    <li [routerLink]="['/home']"><a>Playlist #2 </a></li>
    <li [routerLink]="['/home']"><a>Playlist #2 </a></li>
    <li [routerLink]="['/home']"><a>Playlist #2 </a></li>



  </ul>
</div>

<!-- Create Playlist section --------------------------------------------------------------------->

<!-- Modal -->
<div id="addPlaylist" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Playlist</h4>
      </div>

      <div class="modal-body">


        <b>Title</b><br>
        <form class="form-group"(ngSubmit)="f.form.valid && performLogin()" #f="ngForm">
          <div class="input-box">
            <input id="title" type="text" class="form-control input_layout" name="userName" placeholder="Untitled" >
                   <!--#title="ngModel" required>-->
            <!--<div *ngIf="f.submitted && !userName.valid">-->
              <!--<div [ngClass] = "'alert alert-danger'">Title Required</div>-->
            <!--</div>-->
          </div>
        </form>

        <table cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="1" style = "padding:30px; padding-left: 0px">
              Image:<br>
              <img src = "../../assets/images/album-art/default.png" height="200px"><br>
              <!--<button for = "myImage" type="button" class="btn-5 choose">-->
                <input type="file" class="chooseImg" id="myImage" accept="image/x-png,image/gif,image/jpeg" />
                <label for= "myImage" class="choose expand-effect">
                  Choose an image</label>
              <!--</button>-->
            </td>
            <td rowspan="1" valign="top" style="padding-top:30px;">
              Description:
              <form class="form-group">

                  <textarea id="description" class="form-control" type="text" class="form-control input_layout"
                            style="width: 338px; height:265px"
                            placeholder="Description"></textarea>
              </form>
            </td>
          </tr>
        </table>
            <div align="center">
              <button type="button" class="cancel expand-effect"  data-dismiss="modal">Cancel</button>
              <button type="submit" formmethod="post" class="create expand-effect">Create</button>
            </div>

      </div>
    </div>

  </div>
</div>
