<div class="navbar navbar-inverse navbar-fixed-left">

  <ul class="nav navbar-nav" bs-active-link>
    <li><a href="#!browse" ><i class="fa fa-angle-double-right" style = "padding-right: 10px"></i>Browse</a></li>
    <!--<li><a href="#!stations"><i class="fa fa-circle-thin" style = "padding-right: 10px"></i>Stations</a></li>-->
    <li><a href="#!songs"><i class="fa fa-music"style = "padding-right: 10px"></i>Songs</a></li>
    <li><a href="#!albums"><i class="fa fa-dot-circle-o" style = "padding-right: 10px"></i>Albums</a></li>
    <li><a href="#!artists"><i class="fa fa-user" style = "padding-right: 10px"></i>Artists</a></li>
    <li><a href="#!artists"><i class="fa fa-book" style = "padding-right: 10px"></i>Library</a></li>
    <!--<div class = "header">-->
      <!--<li>Library </li>-->
    <!--</div>-->

    <div class = "header">
      <li>Playlists <a href="#"><i class="fa fa-plus green" aria-hidden="true" style = "padding-left: 70px"></i></a>
    </div>

    <li [routerLink]="['/playlist']"><a>MJXT </a></li>
    <li [routerLink]="['/home']"><a>Playlist #2 </a></li>
    <li [routerLink]="['/home']"><a>Playlist #2 </a></li>
    <li [routerLink]="['/home']"><a>Playlist #2 </a></li>
    <li [routerLink]="['/home']"><a>Playlist #2 </a></li>
    <li [routerLink]="['/home']"><a>Playlist #2 </a></li>
    <li [routerLink]="['/home']"><a>Playlist #2 </a></li>



  </ul>
</div>

