<div class="navbar navbar-inverse navbar-fixed-left">

  <ul class="nav navbar-nav" bs-active-link>
    <li><a routerLink="/topcharts"><i class="fa fa-fire" style = "padding-right: 10px"></i>Top Charts</a></li>
    <li><a routerLink="/home"><i class="fa fa-music" style = "padding-right: 10px"></i>Browse</a></li>
    <!--<li><a routerLink="/songs"><i class="fa fa-music"style = "padding-right: 10px"></i>Songs</a></li>-->
    <li><a routerLink="/albums"><i class="fa fa-dot-circle-o" style = "padding-right: 10px"></i>Albums</a></li>
    <li><a routerLink="/artists"><i class="fa fa-user" style = "padding-right: 10px"></i>Artists</a></li>
    <li><a routerLink="/history"><i class="fa fa-history" style = "padding-right: 10px"></i>History</a></li>
    <li><a routerLink="/library"><i class="fa fa-book" style = "padding-right: 10px"></i>Library</a></li>
    <!--<div class = "header">-->
      <!--<li>Library </li>-->
    <!--</div>-->

    <div class = "header">
      <li>Followed Playlists</li>
    </div>

    <li *ngFor = "let playlist of currentUser.followedPlaylists">
      <a [routerLink]="['/playlist/'+ playlist.id]">{{playlist.title}}</a>
    </li>


    <div class = "header">
      <li>My Playlists

      <a href="#" class="link">
        <i class="fa fa-plus-circle fa-lg green" aria-hidden="true" style = "padding-left: 55px"
           data-toggle="modal" data-target="#addPlaylist" id="add-playlist"></i>
      </a>
      </li>
    </div>

    <li *ngFor = "let playlist of currentUser.playlists">
      <a [routerLink]="['/playlist/'+ playlist.id]">{{playlist.title}}</a>
    </li>


  </ul>
</div>

<!-- Create Playlist section --------------------------------------------------------------------->

<!-- Modal -->
<div id="addPlaylist" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Playlist</h4>
      </div>

      <form class="modal-body" (ngSubmit)="create.form.valid && createPlaylist()" #create="ngForm">
        <b>Title</b><br>
          <div class="input-box">
            <input id="title" type="text" class="form-control input_layout" name="userName"
                   [(ngModel)]="playlist.title" placeholder="Untitled" >
                   <!--#title="ngModel" required>-->
            <!--<div *ngIf="f.submitted && !userName.valid">-->
              <!--<div [ngClass] = "'alert alert-danger'">Title Required</div>-->
            <!--</div>-->
          </div>

        <table cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="1" style = "padding:30px; padding-left: 0px">
              Image:<br>
              <img [src] = "playlistImg" height="200px"><br>
              <!--<button for = "myImage" type="button" class="btn-5 choose">-->
                <input type="file" class="chooseImg" id="myImage" name="myImage" accept="image/x-png,image/gif,image/jpeg" #img
                (change) = "updatePic($event)" [(ngModel)]="playlist.image"/>
                <label for = "myImage" class="choose expand-effect">
                  Choose an image</label>
              <!--</button>-->
            </td>
            <td rowspan="1" valign="top" style="padding-top:30px;">
              Description:<br>
                  <textarea id="description" type="text" name = "desc" [(ngModel)]="playlist.description"
                            class="form-control input_layout" style="width: 338px; height:260px"
                            placeholder="Description"></textarea>

            </td>
          </tr>
        </table>

            <div align="center">
              <button type="button" class="cancel expand-effect"  data-dismiss="modal">Cancel</button>
              <button type="submit" class="create expand-effect">Create</button>
            </div>
      </form>
      </div>
    </div>

  </div>

