/*Friends Bar */
/*Snippet from https://bootsnipp.com/snippets/W73B0*/

#wrapper-right {
  padding-right: 70px;
  transition: all .4s ease 0s;
  /*height: 90%;*/
  padding-top: 50px;
  overflow-y: visible;
  overflow-x: hidden;
}

#sidebar-wrapper-right {
  margin-right: -150px;
  right: 70px;
  width: 300px;
  background: #222;
  position: fixed;
  height: 90%;
  /*z-index: 10000;*/
  transition: all .4s ease 0s;
  overflow-y: scroll;
}

.sidebar-nav-right {
  display: block;
  float: right;
  width: 300px;
  list-style: none;
  margin: 0;
  padding: 0;

}
#page-content-wrapper-right {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}
#wrapper-right.active {
  padding-right: 150px;
}
#wrapper-right.active #sidebar-wrapper-right {
  right: 350px;
}

#page-content-wrapper-right {
  width: 100%;
}

#sidebar_menu-right li a, .sidebar-nav-right li a {
  color: #999;
  display: block;
  float: right;
  text-decoration: none;
  width: 300px;
  background: #252525;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1A1A1A;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;

}
.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7;
}

.sidebar-nav-right li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav-right li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav-right li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav-right li a:active,
.sidebar-nav-right li a:focus {
  text-decoration: none;
}

.sidebar-nav-right > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav-right > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav-right > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.header-font{
  margin-left: 15px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 18px;
}
