.dropdown-menu{
  background-color: #222222;
  color: #F5F5F5;
}

.dropdown-menu > a{
  background-color: #fefffc
}


.dropdown-menu a:hover {
  background-color: #383738;
  color: #1fb752;
}

.arrow {
  display: inline-block;
  padding-top: 18px;
  color: #2c8723;
}

.link {
  color: #F5F5F5;
}
.modal-header{
  background-color: #222222;
  color: #1fb752;
}

.modal-content{
  background-color: #222222;
  color: #F5F5F5;
}
.fade {
  opacity: 1 !important;
}
