td{
  width:50%;
}

.disclaimer{
  align:left;
  margin:3%;
}
.combobox{
  width:95%;
}

.disclaimer-box {
  /*background-color: lightgrey;*/
  border: 2px solid #1fb752;
  padding: 25px;
  margin: 20px 0px;
}


.arrow {
  display: inline-block;
  padding-top: 18px;
  color: #4ab900;
}

.modal-header{
  background-color: #222222;
  color: #1fb752;
}

.modal-content{
  background-color: #222222;
  color: #F5F5F5;
}
.fade {
  opacity: 1 !important;
}

.prof-img {
  cursor: pointer;
}

.choose {
  display: inline-block;
  background-color: #222222;
  padding: 10px 0;
  width: 100%;
  margin-top:5%;
  border: 1px solid #ffffff;
  text-align:center;
  cursor: pointer;
}

.chooseImg {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
button.close{
  color:white;
  opacity:1;
}
.upgrade{
  color:white;
}

.cancel {
  display: inline-block;
  background-color: #222222;
  margin-right:5%;
  padding: 10px 0;
  width: 40%;
  margin-top: 10%;
  border: 1px solid #ffffff;
}


.create {
  display: inline-block;
  margin-right:5px;
  background-color: #1fb752;
  color: #fff;
  padding: 10px 0;
  width: 40%;
  border: 1px solid rgb(74, 185, 0);
}

.credit {
  width:100%;
}
/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
  /*position: relative;*/
  display: inline-block;
  margin-top: 5px;
  /*margin: 30px auto 0;*/
  padding: 10px 5px;
  margin-bottom: 0px;
  color: #fff;
  font-size:14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .09em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 100%;
}
a.animated-button.green-effect:after {
  background: #4ab900;
  opacity: .5;
  -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.green-effect:hover:after {
  opacity: 1;
  height: 200% !important;
}


.edit-info::placeholder {
  color: black;
}
