<nav class="navbar navbar-default  navbar-static-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="/home"><img [src] = "logoImg" class = "fade" style= "padding-left: 20px; width: 100px"></a>
  </div>
  <div class="col-sm-3 col-md-3"  *ngIf= "currentUser != null">
    <form class="navbar-form" role="search" style = "padding-left: 55px">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search"  #search >
        <div class="input-group-btn">
          <button class="btn btn-default green"(click)="enterSearch(search.value)">
            <i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </form>
  </div>

  <!-- User settings section -->
  <div class="col-sm-7" *ngIf= "currentUser != null">
    <ul class="nav navbar-nav navbar-right">
      <li class = "green" *ngIf= "currentUser.isPremium == false">
        <a href="" class ="upgrade animated-button green-effect"
           data-toggle="modal" data-target="#upgrade">UPGRADE</a>
      </li>
      <li><img [src] = "currentUser.profilePicture" data-toggle="modal" data-target="#profImg"
               class = "prof-img fade" style="padding: 5px; width:50px"></li>
      <li class = "green"><a routerLink="/user/{{currentUser.id}}">{{currentUser.name}}</a></li>
      <li>
        <div class="dropdown">
          <i class="arrow fa fa-chevron-down dropdown-toggle" data-toggle="dropdown" style = "padding-right: 10px"></i>
          <ul class="dropdown-menu">

            <li data-toggle="modal" data-target="#accInfo">
              <a href="#accInfo" class="link">Account Info</a></li>

            <li data-toggle="modal" data-target="#set">
              <a href="#set" class="link">Settings</a></li>

            <li><a class="link" (click)="logout()">Logout</a></li>
          </ul>
        </div>

      </li>
    </ul>
  </div>
</nav>

<!-- Account Info Modal --------------------------------------------------------------------->

<!-- Modal -->
<div id="accInfo" class="modal fade" tabindex="-1" role="dialog">
  <div *ngIf="currentUser!=null">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Account Information</h4>
      </div>
      <div class="modal-body">

              User Name: {{currentUser.userName}}<br>
              <span *ngIf="currentUser.isPremium">
              Status: Premium</span>
              <span *ngIf="!currentUser.isPremium">
                Status: Basic</span>

        <form class=""(ngSubmit)="f.form.valid && performLogin()" #f="ngForm">
              <div class="input-box">
              </div>
              First Name<br>

              <div class="input-box">
                <input id="firstName" type="text" class="form-control input_layout edit-info"
                       style="margin:10px 0px; width:98%" name="password" [placeholder]="currentUser.firstName" required>
              </div>
              Last Name<br>

              <div class="input-box">
                <input id="lastName" type="text" class="form-control input_layout edit-info"
                       style="margin:10px 0px; width:98%"  name="password" [placeholder]="currentUser.lastName" required>
              </div>
              Email<br>

                <div class="input-box">
                  <input id="email" type="text" class="form-control input_layout edit-info"
                         style="margin:10px 0px; width:98%" name="password" [placeholder]="currentUser.email" required>
                </div>

<br>
        </form>
      <span>
        <button class="delete expand-effect" style="width:20%" (click)="deleteAccount()">Delete</button>
        <button class="cancel expand-effect" style="width:20%" data-dismiss="modal">Cancel</button>
        <button type="submit" class="create expand-effect" style="width:20%" align="right">Save</button>
      </span>
      <br>
      </div>

  </div>
  </div>
</div>
</div>

<!-- Settings Modal --------------------------------------------------------------------->

<!-- Modal -->
  <div id="set" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Settings</h4>
        </div>
        <div class="modal-body" align="center">
          Language:
          <select class="input-large form-control combobox">
            <option selected="selected">English</option>
            <option value="1">Spanish</option>
            <option value="2">Italian</option>
            <option value="3">Chinese</option>
          </select>

        </div>
      </div>

    </div>
  </div>

<!-- Change Image Modal --------------------------------------------------------------------->

<!-- Modal -->
<div id="profImg" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Profile Image</h4>
      </div>
      <div class="modal-body" align="center">


        <img *ngIf="currentUser != null" [src]= "displayImage" width="200" height="200">
        <!--<img *ngIf="currentUser != null" [src]="currentUser.profilePicture">-->

        <input type="file" class="chooseImg" id="myImage" name="myImage"
               (change)="onChange($event)"
               #myImage accept="image/x-png,image/gif,image/jpeg"/><br>
        <label for= "myImage" class="choose expand-effect">
          Choose an image</label>

        <button type="button" class="choose expand-effect" (click) = reset()>Reset to Default</button>

        <div align="center">
          <button type="button" class="cancel expand-effect"  data-dismiss="modal">Cancel</button>
          <button type="submit" class="create expand-effect" (click) = setImg(myImage.files)
                  >Save</button>
        </div>


      </div>
    </div>

  </div>
</div>

<!-- Upgrade Modal --------------------------------------------------------------------->

<!-- Modal -->
<div id="upgrade" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Upgrade to Premium</h4>
      </div>

      <div class="modal-body">

        <div align="center">
          <img [src]="ccardImg" width="80%" align="center"><br>
        </div>
    <form name="form" (ngSubmit)="f.form.valid && performUpgrade()" #f="ngForm">
        <i class="fa fa-angle-double-right"></i>
        Card Number
        <input id="ccard" type="text" class="form-control input_layout credit"
               name="ccard" placeholder="1111 2222 3333 4444"
                style="margin:10px 0px; width:98%" [(ngModel)]="info.num"><br><br>

        <table cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td>
              <i class="fa fa-angle-double-right"></i>
            Expiry date<br>
              <div class="form-group">
                <select class="input-large form-control">
                  <option selected="selected">Select a Month</option>
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                  <option value="7">07</option>
                  <option value="8">08</option>
                  <option value="9">09</option>
                  <option value="9">10</option>
                  <option value="9">11</option>
                  <option value="9">12</option>
                </select>
              </div>
            </td>
            <td>
              <br>


                <div class="form-group">
                  <select class="input-large form-control">
                    <option selected="selected">Select a Year</option>
                    <option *ngFor="let i of monthYear">{{i}}</option>
                  </select>
                </div>

            </td>
          </tr>
        <tr>
          <td>
            <i class="fa fa-angle-double-right"></i>
            Security code<br>
            <input type="text" class="form-control input_layout combobox"
                   name="sec" style="margin:10px 0px" [(ngModel)]="info.num2">
          </td>
          <td>
            <i class="fa fa-angle-double-right"></i>
            Zip Code<br>
            <input type="text" class="form-control input_layout combobox"
                    style="margin:10px 0px" placeholder="11111">
          </td>
        </tr>
        </table>

        <div class="disclaimer-box">
          <p align="left" class="disclaimer">
          "By purchasing, you authorize Amplio to charge you $9.99 + applicable tax for a 3-month trial.
          <b>If you don’t cancel before the trial ends, you authorize Amplio to automatically charge you $9.99 +
            applicable tax each month until you cancel.</b> If the price changes, we’ll notify you beforehand.
          You can check your trial end date or cancel anytime via your Account page. No partial refunds.
          Terms apply."
          </p>
        </div>

  <div align="center">
        <button type="submit" class="create expand-effect">START AMPLIO PREMIUM</button>
  </div>
    </form>
      </div>
    </div>

  </div>
</div>
