<!--<div class="container">-->
<!--<div class="col-md-4">-->
<!--<div class="panel-default">-->
<!--<div class="panel-heading">-->
<!--<strong class="">Login</strong>-->
<!--</div>-->
<!--<div class="panel-body">-->
<!--<form class="form-horizontal" role="form">-->
<!--<div class="form-group">-->
<!--<label for="inputEmail3" class="col-sm-3 control-label"[(ngModel)]="name">Username</label>-->
<!--<div class="col-sm-9">-->
<!--<input type="email" class="form-control" id="inputEmail3" placeholder="Username" required="">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="inputPassword3" class="col-sm-3 control-label">Password</label>-->
<!--<div class="col-sm-9">-->
<!--<input type="password" [(ngModel)]="password" class="form-control" id="inputPassword3" placeholder="Password" required="">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<div class="col-sm-offset-3 col-sm-9">-->
<!--<div class="checkbox">-->
<!--<label class="">-->
<!--<input type="checkbox" class="">Remember me</label>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group last">-->
<!--<div class="col-sm-offset-3 col-sm-9">-->
<!--<button type="submit" class="btn btn-success btn-sm" (click)="performLogin()">Login</button>-->
<!--<button type="reset" class="btn btn-default btn-sm">Reset</button>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--<div class="panel-footer">Not Registered? <a href="#" class="">Register here</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->




  <div class="container">
    <div class="row">
      <div class="login_box">
        <div align="center">
          <br><br>
          <img src="../../assets/images/AmplioLogo.png">
        </div>
        <section class="main-box">
          <form>
            <div class="input-box">
              <span class="input-group-addon i_icon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="email" type="text" class="form-control input_layout" name="user" placeholder="Username" [(ngModel)]="name">
            </div>
            <div class="input-box">
              <span class="input-group-addon i_icon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="password" type="password" class="form-control input_layout" name="password" placeholder="Password" [(ngModel)]="password">
            </div>
          </form>
          <button type="button" class="btn_style" (click)="performLogin()">LOGIN</button>
          <button type="button" class="btn_style">REGISTER</button>
          <button type="button" class="regbtn_style"><span>Sign in as an Admin or Artist</span></button>
        </section>
      </div>

    </div>
  </div>

