<div class = "bg">
<div class="container">
  <!-- Welcome User -->
  <div class="row">
    <table>
      <tr>
        <td><h3>Welcome {{currentUser.name}}!</h3></td>
      </tr>
    </table>
    <hr>
  </div>

  <!-- List genres -->
  <div class = "row">
    <div class="wrapper">
      <div *ngFor="let genre of genrePlaylists;">
        <a routerLink = "/playlist/{{genre.id}}">
          <img src ="{{genre.image}}"  width = 200px class = "fade"></a>
        <p align="center">{{genre.title}}</p>
      </div>
    </div>
  </div>
<!-- Recently Played Artists-->

<!--<div class="row">-->
  <!--<table>-->
    <!--<tr>-->
      <!--<td><h3>Public Playlists</h3></td>-->
      <!--&lt;!&ndash;<td align="right" class = linkInfo><a href = "#">See All</a></td>&ndash;&gt;-->
    <!--</tr>-->
  <!--</table>-->
  <!--<hr>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

