<div class = "bg">
<div class="container" style="margin-left:15%;margin-right:30%">
  <!-- Welcome User -->
  <div class="row">
    <table width = "90%">
      <tr>
        <td><h3>Welcome {{currentUser.name}}!</h3></td>
      </tr>
    </table>
    <hr style="margin-right:80px">
  </div>

  <!-- List genres -->

  <div class = "row">
    <div id="grid" *ngFor="let genre of genrePlaylists; let i = index">
      <div *ngIf="i < 4">
        <a routerLink = "/playlist/{{genre.id}}"><img src ="{{genre.image}}" class = "fade"></a>
        <p align="center">{{genre.title}}</p>
      </div>
    </div>
  </div>

<!-- Recently Played Artists-->

<div class="row">
  <table width = "90%">
    <tr>
      <td><h3>Public Playlists</h3></td>
      <!--<td align="right" class = linkInfo><a href = "#">See All</a></td>-->
    </tr>
  </table>
  <hr style="margin-right:80px">
</div>
</div>
</div>

