<div class="audiobar">

  <table cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="1" style = "padding-left: 10px; padding-top: 5px" width=7.5%>
        <img src="../../assets/images/album-art/anvil.jpg" width=100px; height=100px>
      </td>
      <td valign="top" width = 20%>
        <div class="song-info">
          <div class="song-spacing">
            <span id="song-title">Song Name</span>
          </div>
            <span>Artist Name</span><br>
            <span>Album Name</span>
        </div>
      </td>

      <td colspan="2" align="center">
        <div class = "controls">
          <img src = "../../assets/images/audio/shuffle.svg" id="shuffle" title="Shuffle"/>
          <img src = "../../assets/images/audio/previous.svg" id="previous" title="Play Previous Song"/>
          <!--<img src = "../../assets/images/audio/play.svg" (click)="togglePlay()" id="play-pause"/>-->
          <img [src] = "playPauseImg" (click)="togglePlay()" class = "grow" id="play-pause"/>
          <img src = "../../assets/images/audio/next.svg" id="next" title="Play Next Song"/>
          <img [src] = "repeatImg" (click)="toggleLoop()" id="repeat" title="Repeat"/>
        </div>
        <span id="duration">0:00 / 0:00</span>
        <input type="range" class="track" #track (input) = "changePos(track.value)"/>

      </td>
      <td align="right">
        <img src = "../../assets/images/audio/queue.svg" id="songQueue" title="Queue"/>
        <img [src] = "volImg" (click)="toggleMute()" id="volume" title="Mute"/>
        <input type="range" class="volume" min="0" max="100" #volume (input) = "changeVolume(volume.value)"/>
      </td>
    </tr>
  </table>
</div>

