<div id="wrapper-right" class="">
  <div id="sidebar-wrapper-right">
    <ul id="sidebar_menu" class="sidebar-nav-right">
      <li class="sidebar-brand-right green">FRIEND ACTIVITY</li>
    </ul>
    <ul class="sidebar-nav-right" id="sidebar-right">
      <li><a href = "#"><span> <img src="profExample.png" width="10%" style="padding-right:5px">Mrunal Patel</a></span></li>
      <li><a href = "#"><span> <img src="panic.png" width="10%" style="padding-right:5px">Varun Goel</a></span></li>
      <li><a href = "#"><span> <img src="pawsa.png" width="10%" style="padding-right:5px">Rishab Chhabra</a></span></li>
    </ul>
  </div>
</div>

<div>
<router-outlet></router-outlet>
</div>
