<!-- Navigation -->
<nav class="navbar navbar-default  navbar-static-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#"><img src = "../../assets/images/AmplioLogoSmall.png" style= "padding-left: 20px; width: 100px"></a>
  </div>
  <div class="col-sm-3 col-md-3">
    <form class="navbar-form" role="search" style = "padding-left: 55px">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="q">
        <div class="input-group-btn">
          <button class="btn btn-default green" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </form>
  </div>

  <!-- User settings section -->
  <div class="col-sm-7">
    <ul class="nav navbar-nav navbar-right">
      <li class = "green"><a href="#">UPGRADE</a></li>
      <li><img src = "../../assets/images/user.png" style="padding: 5px; width:50px"></li>
    </ul>
  </div>
</nav>

<div>
<router-outlet></router-outlet>
</div>
