<div class = "bg">
  <div class="transition">
  <div class="container">
    <div class="row">
        <h1><i class="fa fa-user" style = "padding-right: 10px"></i> Artists</h1>
        <hr>
      <br>


      <div class="row">
        <div class="wrapper">
          <div>
            <a href="#"><img src="../../../assets/images/pawsa.png" class = "fade"></a>
            <p align="center">PAWSA</p>
            <p align="center">10 Followers</p>
          </div>

          <div>
            <a href="#"><img src="../../../assets/images/panic.png" class = "fade"></a>
            <p align="center">Panic! At The Disco</p>
            <p align="center">2,974,944 FOLLOWERS</p>
          </div>

          <div>
            <a href="#"><img src="../../../assets/images/anderson.png" class = "fade"></a>
            <p align="center">Anderson .Paak</p>
            <p align="center">445,784 FOLLOWERS</p>
          </div>

          <div>
            <a href="#"><img src="../../../assets/images/jhene.png" class = "fade"></a>
            <p align="center">Jhene Aiko</p>
            <p align="center">4,141,286 FOLLOWERS</p>
          </div>

          <div>
            <a href="#"><img src="../../../assets/images/jhene.png" class = "fade"></a>
            <p align="center">Jhene Aiko</p>
            <p align="center">4,141,286 FOLLOWERS</p>
          </div>

          <div>
            <a href="#"><img src="../../../assets/images/pawsa.png" class = "fade"></a>
            <p align="center">PAWSA</p>
            <p align="center">10 Followers</p>
          </div>

          <div>
            <a href="#"><img src="../../../assets/images/panic.png" class = "fade"></a>
            <p align="center">Panic! At The Disco</p>
            <p align="center">2,974,944 FOLLOWERS</p>
          </div>

          <div>
            <a href="#"><img src="../../../assets/images/anderson.png" class = "fade"></a>
            <p align="center">Anderson .Paak</p>
            <p align="center">445,784 FOLLOWERS</p>
          </div>

          <div>
            <a href="#"><img src="../../../assets/images/jhene.png" class = "fade"></a>
            <p align="center">Jhene Aiko</p>
            <p align="center">4,141,286 FOLLOWERS</p>
          </div>

          <div>
            <a href="#"><img src="../../../assets/images/jhene.png" class = "fade"></a>
            <p align="center">Jhene Aiko</p>
            <p align="center">4,141,286 FOLLOWERS</p>
          </div>


        </div>
      </div>


      <br>
    </div>
  </div>
  </div>
</div>
<ad></ad>
