<div class = "bg">
  <div class = "container">
    <div class="row">
    <table cellspacing="0" cellpadding="0">
      <tr>

        <td colspan="1" style = "padding:30px; padding-left: 0px; padding-top: 5px;" *ngIf="!currentUser.isPremium">
          <img [src] = "person.profilePicture" style = "border-radius: 50%; width: 200px"></td>
        <td rowspan="1">

        <td colspan="1" style = "padding:30px; padding-left: 0px; padding-top: 5px;" *ngIf="currentUser.isPremium">
          <img [src] = "person.profilePicture" style = "border-radius: 50%; border: 4px solid #00d857; width: 200px"></td>
        <td rowspan="1">

          <span *ngIf="currentUser.isPremium">
          <h3>PREMIUM USER</h3>
          </span>

          <span *ngIf="!currentUser.isPremium">
          <h3>BASIC USER</h3>
          </span>
          <h1>{{person.name}}</h1><br>
          <div></div>

          <div *ngIf="currentUser.id != person.id">

            <div *ngIf="!isFollowing">
            <button type="button" class="follow-user expand-effect"
          (click) = toggleFollow()>Follow</button>
            </div>

            <div *ngIf="isFollowing">
            <button type="button" class="follow-user expand-effect"
                    (click) = toggleFollow()>Unfollow</button>
            </div>
          </div>
        </td>
      <td>
      </td>
      </tr>
    </table>

  </div>

  <div class="row">
    <div class= "linkInfo">
      <ul align>
        <li class="header-no-break"> <a href="" class = "active">OVERVIEW</a></li>
        <li class="header-no-break"> <a href="#">RECENTLY PLAYED ARTISTS</a></li>
        <li class="header-no-break"> <a href="#">PUBLIC PLAYLISTS({{person.playlists.length}}) </a></li>
        <li class="header-no-break"> <a href="#">FOLLOWING ({{person.following.length}} users)</a></li>
      </ul>
    </div>
  </div>
  <br>

  <br>
  <!-- Recently Played Artists-->

  <div class="row">
    <table>
      <tr>
        <td><h3>Public Playlists</h3></td>
        <!--<td align="right" class = seeAll><a href = "#">See All</a></td>-->
      </tr>
    </table>
    <hr>
  </div>

  <br>
    <div class="row">
      <div class="wrapper">
        <div *ngFor="let playlist of currentUser.playlists">
          <div *ngIf="playlist.isPublic">
          <a [routerLink]="['/playlist/'+ playlist.id]"><img [src]="playlist.image" class = "fade"></a>
          <p>{{playlist.title}}</p>
          </div>
        </div>
      </div>
      </div>
    <ad></ad>
    </div>
</div>

