<div class = "bg">
  <div class = "container">
    <div class="row">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="1" style = "padding:30px; padding-left: 0px; padding-top: 5px;">
          <img [src] = "person.profilePicture" style = "border-radius: 50%; width: 200px"></td>
        <td rowspan="1"><h3>USER</h3>
          <h1>{{person.name}}</h1><br>
          <div></div>

          <div *ngIf="currentUser.id != personId">
          <!-- TODO: If id not in {{currentUser.following}}, display this-->

            <div *ngIf="!isFollowing">
            <button type="button" class="follow-user expand-effect"
          (onclick) = toggleFollow()>Follow</button>
            </div>

            <div *ngIf="isFollowing">
          <!-- TODO: If following, display this instead-->
            <button type="button" class="follow-user expand-effect">Unfollow</button>
            </div>
          </div>
        </td>
      <td>
      </td>
      </tr>
    </table>

  </div>

  <div class="row">
    <div class= "linkInfo">
      <ul align>
        <li class = "current"> <a href="" class = "active">OVERVIEW</a></li>
        <li> <a href="#">RECENTLY PLAYED ARTISTS</a></li>
        <li> <a href="#">PUBLIC PLAYLISTS</a></li>
        <li> <a href="#">FOLLOWING (0)</a></li>
      </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <table>
      <tr>
        <td><h3>Recently Played Artists</h3></td>
        <!--<td align="right" class = seeAll><a href = "#">See All</a></td>-->
      </tr>
    </table>
    <hr>
  </div>



  <div class="row">
    <div class="wrapper">
      <div>
        <a href="#"><img src="../../../assets/images/pawsa.png" class = "fade"></a>
        <p align="center">PAWSA</p>
        <p align="center">10 Followers</p>
      </div>

      <div>
        <a href="#"><img src="../../../assets/images/panic.png" class = "fade"></a>
        <p align="center">Panic! At The Disco</p>
        <p align="center">2,974,944 FOLLOWERS</p>
      </div>

      <div>
        <a href="#"><img src="../../../assets/images/anderson.png" class = "fade"></a>
        <p align="center">Anderson .Paak</p>
        <p align="center">445,784 FOLLOWERS</p>
      </div>

      <div>
        <a href="#"><img src="../../../assets/images/jhene.png" class = "fade"></a>
        <p align="center">Jhene Aiko</p>
        <p align="center">4,141,286 FOLLOWERS</p>
      </div>

      <div>
        <a href="#"><img src="../../../assets/images/jhene.png" class = "fade"></a>
        <p align="center">Jhene Aiko</p>
        <p align="center">4,141,286 FOLLOWERS</p>
      </div>



    </div>
  </div>

  <br>
  <!-- Recently Played Artists-->

  <div class="row">
    <table>
      <tr>
        <td><h3>Public Playlists</h3></td>
        <!--<td align="right" class = seeAll><a href = "#">See All</a></td>-->
      </tr>
    </table>
    <hr>
  </div>

  <br>
    <div class="row">
      <div class="wrapper">
        <div *ngFor="let playlist of userPlaylists">
          <a [routerLink]="['/playlist/'+ playlist.id]"><img [src]="playlist.image" class = "fade"></a>
          <p>{{playlist.title}}</p>
          <p>0 Followers</p>
        </div>

        <!--<div>-->
          <!--<a href="#"><img src="../../../assets/images/albumExample.png" class = "fade"></a>-->
          <!--<p>My Playlist</p>-->
          <!--<p>0 Followers</p>-->
        <!--</div>-->

        <!--<div>-->
          <!--<a href="#"><img src="../../../assets/images/albumExample.png" class = "fade"></a>-->
          <!--<p>Playlist 3</p>-->
          <!--<p>0 Followers</p>-->
        <!--</div>-->

        <!--<div>-->
          <!--<a href="#"><img src="../../../assets/images/albumExample.png" class = "fade"></a>-->
          <!--<p>Cool Tunes</p>-->
          <!--<p>0 Followers</p>-->
        <!--</div>-->

        <!--<div>-->
          <!--<a href="#"><img src="../../../assets/images/albumExample.png" class = "fade"></a>-->
          <!--<p>Cool Tunes</p>-->
          <!--<p>0 Followers</p>-->
        <!--</div>-->

        <!--<div>-->
          <!--<a href="#"><img src="../../../assets/images/albumExample.png" class = "fade"></a>-->
          <!--<p>Cool Tunes</p>-->
          <!--<p>0 Followers</p>-->
        <!--</div>-->

        <!--<div>-->
          <!--<a href="#"><img src="../../../assets/images/albumExample.png" class = "fade"></a>-->
          <!--<p>Cool Tunes</p>-->
          <!--<p>0 Followers</p>-->
        <!--</div>-->
      </div>
      </div>
    <ad></ad>
    </div>
</div>

