<div class = "bg">
<div class="container" style="margin-left:15%;margin-right:30%">
  <div class="row" *ngIf="currentUser.isPremium == 0">
    <img src = "https://www.jhsph.edu/sebin/f/d/placeholder-720x180.png" width = 1000px height = 150px>
  </div>

  <div class="row">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="1" style = "padding:30px; padding-left: 0px"><img src = "../../../assets/images/profExample.png" width = 200px></td>
        <td rowspan="1">USER<br>
          <h1>User</h1><br>
          <button type="button" class="btn btn-default btn-transparent">Follow</button>
        </td>
      </tr>
    </table>

  </div>

  <div class="row">
    <div class= "linkInfo">
      <ul align>
        <li class = "current"> <a href="#" class = "active">OVERVIEW</a></li>
        <li> <a href="#">RECENTLY PLAYED ARTISTS</a></li>
        <li> <a href="#">PUBLIC PLAYLISTS</a></li>
        <li> <a href="#">FOLLOWING (0)</a></li>
      </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <table width="90%">
      <tr>
        <td><h3>Recently Played Artists</h3></td>
        <td align="right" class = seeAll><a href = "#">See All</a></td>
      </tr>
    </table>
    <hr style="margin-right:80px">
  </div>



  <div class="row">
    <div id="grid">
      <div id="gridtop1">
        <a href="#"><img src="../../../assets/images/pawsa.png" class = "fade"></a>
        <p align="center">PAWSA</p>
        <p align="center">10 Followers</p>
      </div>

      <div id="gridtop2">
        <a href="#"><img src="../../../assets/images/panic.png" class = "fade"></a>
        <p align="center">Panic! At The Disco</p>
        <p align="center">2,974,944 FOLLOWERS</p>
      </div>

      <div id="gridtop3">
        <a href="#"><img src="../../../assets/images/anderson.png" class = "fade"></a>
        <p align="center">Anderson .Paak</p>
        <p align="center">445,784 FOLLOWERS</p>
      </div>

      <div id="gridtop4">
        <a href="#"><img src="../../../assets/images/jhene.png" class = "fade"></a>
        <p align="center">Jhene Aiko</p>
        <p align="center">4,141,286 FOLLOWERS</p>
      </div>
    </div>
  </div>

  <br>
  <!-- Recently Played Artists-->

  <div class="row">
    <table width = "90%">
      <tr>
        <td><h3>Public Playlists</h3></td>
        <td align="right" class = seeAll><a href = "#">See All</a></td>
      </tr>
    </table>
    <hr style="margin-right:80px">
  </div>

  <br>
  <div class="row">
    <div id="grid">
      <div id="gridtop5">
        <a href="#"><img src="../../../assets/images/albumExample.png" class = "fade"></a>
        <p>Fresh Finds</p>
        <p>0 Followers</p>
      </div>

      <div id="gridtop6">
        <a href="#"><img src="../../../assets/images/albumExample.png" class = "fade"></a>
        <p>My Playlist</p>
        <p>0 Followers</p>
      </div>

      <div id="gridtop7">
        <a href="#"><img src="../../../assets/images/albumExample.png" class = "fade"></a>
        <p>Playlist 3</p>
        <p>0 Followers</p>
      </div>

      <div id="gridtop8">
        <a href="#"><img src="../../../assets/images/albumExample.png" class = "fade"></a>
        <p>Cool Tunes</p>
        <p>0 Followers</p>
      </div>
    </div>
  </div>

</div>
</div>
