html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
}

.bg{
  background:linear-gradient(45deg,
  rgba(0, 0, 0, 0.98) 0%,
  rgb(61, 61, 60) 107%,
  rgba(10, 3, 8, 0.84) 122%,
  rgb(24, 23, 23) 100%) no-repeat;
  color: #F5F5F5;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 5%;
}

.container{
  margin-bottom: 10%;
  margin-top:10px;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.navbar-default {
  width: 100%;
  background-color: black;
  border-color: black;
  margin-bottom: 0;
  margin-top:0;
  position:fixed;
  top:0

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

/************** Link and Text Styling *****************/

.green {
  color: #1fb752;
}
.linkInfo> ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.linkInfo li {
  display: inline;
  padding-right:70px
}

.linkInfo a {
  color: grey;
  text-decoration: none;
}

.linkInfo a:hover{
  color: white;
  text-decoration: none;
}

.linkInfo a:active{
  color: white;
  text-decoration: none;
}


.linkInfo a:hover::after {
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 0;
  border: 1px solid lime;
}

.seeAll a{
  color: grey;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.seeAll a:hover{
  color: white;
  text-decoration: none;
}

.seeAll a:active{
  color: white;
  text-decoration: none;
}


.seeAll a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.header {
  background-color: #222;
  font-size: 18px;
  color: #1fb752;
  padding-left: 15px;
  padding-top: 40px;
  padding-bottom: 15px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

/************** Scroll bar Styling *****************/
.scrollbar
{
  background: #F5F5F5;
  overflow-y: scroll;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: black;
}

::-webkit-scrollbar
{
  background-color: black;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
  background-color: #595959;
}

/************** Form icon Styling *****************/

#main_icon
{
  float: left;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 20px;
}
.sub_icon
{
  float: left;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 20px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
  #wrapper-right {
    padding-right: 70px;
    transition: all .4s ease 0s;
  }
  #sidebar-wrapper-right {
    right: 70px;
  }
  #wrapper-right.active {
    padding-right: 150px;
  }
  #wrapper-right.active #sidebar-wrapper-right {
    right: 150px;
    width: 150px;
    transition: all .4s ease 0s;
  }
}

/******** Album/Artist/Playlist Hover Styling *****************/

.fade
{
  opacity:1;
}
.fade:hover
{
  opacity:0.5;
}


/******** Grid Layout Styling *****************/

.wrapper div img {
  width: 200px;
  padding-bottom: 20px;
}
.wrapper {
  float: top;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 35px;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
/******** Button Styling *****************/

.expand-effect {
  border: 0 solid ;
  outline: 1px solid ;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.expand-effect:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
.follow {
  margin-left: 20px;
  display: inline-block;
  background-color: #222222;
  /*color: rgb(87, 216, 0);*/
  padding: 10px 0;
  width: 95px;
  border: 1px solid #4ab900;
}
.follow:active {
  vertical-align: top;
}

.delete {
  margin-left: 20px;
  display: inline-block;
  background-color: #ff1d2a;
  color: #fff;
  padding: 10px 0;
  width: 95px;
  border: 1px solid rgb(255, 29, 42);
  right: 0;
}
.delete:hover {
  background-color: #ff1d2a;
  color: #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.edit {
  margin-left: 20px;
  display: inline-block;
  right: 0;
  background-color: #222222;
  /*color: rgb(87, 216, 0);*/
  padding: 10px 0;
  width: 95px;
  border:1px solid #57d800;
  position: absolute;
  right: 0;
}
.edit:active {
  vertical-align: top;
}

.cancel {
  display: inline-block;
  background-color: #222222;
  margin-right:5%;
  padding: 10px 0;
  width: 40%;
  margin-top: 10%;
  border: 1px solid #4ab900;
}

.fadein {
  opacity: 0;
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

#body.loaded .fadein {
  opacity: 1;
}


.create {
  display: inline-block;
  margin-right:5px;
  background-color: #1fb752;
  color: #fff;
  padding: 10px 0;
  width: 40%;
  border: 1px solid rgb(74, 185, 0);
}
.create:hover {
  background-color: #23d95d;
  color: #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.choose {
  display: inline-block;
  background-color: #222222;
  /*color: rgb(87, 216, 0);*/
  padding: 10px 0;
  width: 100%;
  margin-top: 10%;
  border: 1px solid #4ab900;
  text-align:center;
  cursor: pointer;
}

.chooseImg {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


/******** Page Transition Styling *****************/

.transition {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

/********* Modal Styling *****************/

.modal-header{
  background-color: #222222;
  color: #1fb752;
}

.modal-content{
  background-color: #222222;
  color: #F5F5F5;
}

.modal.title{
  width:100%;
  margin-top:20px;
  color: #4ab900;

}
/********* Advertisement Styling *****************/

.sticky {
  position:fixed;
  /*width: 100%;*/
  margin-top: -10px;
  margin-right:20%;
  z-index: 1;
  margin-bottom: 5%;
}

.sticky img {
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}


#x {
  position: absolute;
  /*background: red;*/
  font-size: 26px;
  color: white;
  top: 0px;
  right: 0px;
  opacity: 1;
}

.ad-spacing {
  margin-top:10%;
  height: 150px;
}
