html,body {
  margin: auto;
}
.navbar-default {
  width: 100%;
  background-color: black;
  border-color: black;
  margin-bottom: 0;
  margin-top:0;
  position:fixed;
  top:0

}
.green {
  color: #1fb752;
}
.linkInfo> ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.linkInfo li {
  display: inline;
  padding-right:70px
}

.linkInfo a {
  color: grey;
  text-decoration: none;
}

.linkInfo a:hover{
  color: white;
  text-decoration: none;
}

.linkInfo a:active{
  color: white;
  text-decoration: none;
}


.linkInfo a:hover::after {
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 0;
  border: 1px solid lime;
}

.header {
  background-color: #222;
  font-size: 16px;
  color: #1fb752;
  padding-left: 15px;
  padding-top: 40px;
  padding-bottom: 15px;
}

.scrollbar
{
  background: #F5F5F5;
  overflow-y: scroll;
}



::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: black;
}

::-webkit-scrollbar
{
  background-color: black;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
  background-color: #595959;
}
.row{
  margin-left:0px;
  margin-right:60px;
}

#main_icon
{
  float: left;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 20px;
}
.sub_icon
{
  float: left;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 20px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
  #wrapper-right {
    padding-right: 70px;
    transition: all .4s ease 0s;
  }
  #sidebar-wrapper-right {
    right: 70px;
  }
  #wrapper-right.active {
    padding-right: 150px;
  }
  #wrapper-right.active #sidebar-wrapper-right {
    right: 150px;
    width: 150px;
    transition: all .4s ease 0s;
  }
}
#grid div {
  float: left;
  padding-right: 65px;
}

#grid div img{
  width: 200px;
  padding-bottom: 20px;
}

.fade
{
  opacity:1;
}
.fade:hover
{
  opacity:0.5;
}
