.bg{
  background: linear-gradient(45deg,
  rgba(0, 0, 0, 0.98) 0%,
  rgb(61, 61, 60) 107%,
  rgba(10, 3, 8, 0.84) 122%,
  rgb(24, 23, 23) 100%) no-repeat;
  color: #F5F5F5;
  height: 100%;
  overflow-y: scroll;
}
