.login {
  background: linear-gradient(45deg,
  rgba(0, 0, 0, 0.98) 0%,
  rgb(61, 61, 60) 107%,
  rgba(10, 3, 8, 0.84) 122%,
  rgb(24, 23, 23) 100%) no-repeat;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 10%;
}

h3 {
  color: white;
}


h2 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.login_box {
  margin:0 auto;
  max-width: 400px;
  min-width: 320px;
  width: 100%;
}
.input-box {
  float: left;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}
.i_icon {
  border: medium none;
  border-radius: 0;
  color: #4ab900;
  float: left;
  padding: 12px;
  top: 32px;
  width: 40px;
}
.input_layout {
  border: medium none;
  border-radius: 0;
  float: left;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  width: 89%;
}
.main-box {
  background: rgb(78, 78, 78) none repeat scroll 0 0;
  float: left;
  margin-bottom: 10%;
  margin-top: 10%;
  padding: 10px 15px 50px 15px;
  width: 100%;
  border: 1px solid #fffdfc;
}
.btn_style {
  display: inline-block;
  background-color: rgb(74, 185, 0);
  color: #fff;
  padding: 10px 0;
  width: 100%;
  border: none;
}
.btn_style:hover {
  background-color: rgb(87, 216, 0);
  color: #ffffff;
}
.btn_style:active {
  vertical-align: top;
  background-color: #2c8723;
}
.regbtn_style {
  background-color: rgb(38, 38, 38);
  color: #fff;
  padding: 10px 0;
  width: 100%;
  border: none;
  margin-top: 20px;
  transition: all 0.5s;
}
.regbtn_style:hover {
  background-color: rgb(64, 61, 63);
  color: #ffffff;
}

.regbtn_style:hover span {
  padding-right: 25px;
}

.regbtn_style:hover span:after {
  opacity: 1;
  right: 0;
}

.regbtn_style span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.regbtn_style span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.error {
  border: medium none;
  border-radius: 0;
  float: left;
  height: 40px;
  width: 89%;
  color: red;
}
