.follow-user {
  display: inline-block;
  background-color: #222222;
  padding: 10px 10px;
  width: 100px;
  border:1px solid #4ab900;
}
.follow-user:active {
  vertical-align: top;
}

.bib-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}

.about-text {
  font-size: 18px;
}
