<div class = "bg">
  <div class="container">
    <div class="row">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="1" style = "padding:30px; padding-left: 0px">
            <img [src] = "artist.image" style = "border-radius: 50%; border: 2px solid #999999; width:200px; height:200px;"></td>
          <td rowspan="1"><h3>ARTIST</h3>
            <h1>{{artist.name}}</h1><br>
            <div></div>
            <div *ngIf="!isFollowing">
              <button type="button" class="follow-user expand-effect"
                      (click) = toggleFollow()>Follow</button>
            </div>

            <div *ngIf="isFollowing">
              <button type="button" class="follow-user expand-effect"
                      (click) = toggleFollow()>Unfollow</button>
            </div>
          </td>
          <td>
          </td>
        </tr>
      </table>

    </div>

    <div class="row">
      <div class= "linkInfo">
        <ul align>
          <li class = "current"> <a (click)="changePage(1)" class = "active">OVERVIEW</a></li>
          <li> <a (click)="changePage(3)">ABOUT</a></li>
          <li> <a (click)="changePage(4)">RELATED ARTISTS</a></li>
          <li> <a (click)="changePage(2)">ALBUMS</a></li>
        </ul>
      </div>
    </div>
    <br>

    <!--------------------------------------------------------------------------------------------------------------->

    <!-- Bios-->
    <div *ngIf="page == 1">
    <div class="row">
      <div style="text-align:left;">
        <h3>About</h3><hr>
      </div>
          <div class="bib-overflow about-text">
            {{artist.biblio}}
          </div>
      <span style="float:right;">
        <h4><a (click)="changePage(3)" class="green">See More >></a></h4>
      </span>
    </div>
    </div>


    <div *ngIf="page == 3">
      <div class="row">
        <div style="text-align:left;">
          <h3>About (Full)</h3><hr>
        </div>
        <div class = "about-text">
          {{artist.biblio}}
        </div>
      </div>
    </div>

    <!-- Related Artists-->
    <div *ngIf="page == 1 || page == 4">
    <div class="row">
      <table>
        <tr>
          <td><h3>Related Artists</h3></td>
          <!--<td align="right" class = seeAll><a href = "#">See All</a></td>-->
        </tr>
      </table>
      <hr>
    </div>

    <div class="row">
      <div class="wrapper">
        <div *ngFor="let artist of relatedArtists">
          <a [routerLink]="['/artist/'+ artist.id]">
            <img [src]="artist.image" class = "fade"
                 style = "border-radius: 50%; border: 2px solid #999999; width:200px; height:200px; padding:0px"></a>
          <h4 align="center">{{artist.name}}</h4>
        </div>
      </div>
    </div>
    </div>

    <!-- Albums-->
    <div *ngIf="page == 1 || page == 2">
    <div class="row">
      <table>
        <tr>
          <td><h3>Albums</h3></td>
          <!--<td align="right" class = seeAll><a href = "#">See All</a></td>-->
        </tr>
      </table>
      <hr>
    </div>

    <br>
    <div class="row">
      <div class="wrapper">
        <div *ngFor="let album of albums">
          <a [routerLink]="['/album/'+ album.id]"><img [src]="album.image" class = "fade"></a>
          <p>{{album.title}}</p>
        </div>
      </div>
    </div>
  </div>
  </div>



</div>
