<div class = "bg">
  <div class="container">
    <div class="row">
      <h1><i class="fa fa-history " style = "padding-right: 10px"></i> History</h1>
      <hr>
      <br>

      <h3>Songs</h3>
      <div class="row">
        <table class="table table-hover table-responsive songs" id = "songs">
          <th></th>
          <th></th>
          <th>Title</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Duration</th>

          <tr *ngFor="let song of currentUser.history">
            <td width="50px"><img [src] ="playPauseImg" class="grow play-each"></td>
            <td><i class="fa fa-check" aria-hidden="true"></i></td>
            <td align="left" class="overflow">{{song.songName}}</td>
            <td class="overflow">
            {{song.artist.name}}</td>
            <td class="overflow">{{song.album.title}}</td>
            <td>{{getMinSec(song.duration)}}</td>
          </tr>
        </table>
      </div>

      <br>
    </div>
  </div>
</div>
