<div class = "bg">
  <div class="container">
    <div class="row">
      <h1><i class="fa fa-history " style = "padding-right: 10px"></i> History</h1>
      <hr>
      <br>

      <h3>Songs</h3>
      <div class="row">
        <table class="table table-hover table-responsive songs" id = "songs">
          <th></th>
          <th>Title</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Duration</th>

          <tr *ngFor="let song of currentUser.history">
            <td width="50px"><img [src] ="playPauseImg" class="grow play-each"></td>
            <td align="left" class="overflow">{{song.songName}}</td>
            <td class="overflow">
            {{song.artist.name}}</td>
            <td class="overflow">{{song.album.title}}</td>
            <td>{{getMinSec(song.duration)}}</td>

            <td>

              <!-- sub menu -->
              <div class="dropdown">
                <i class="arrow fa fa-ellipsis-h dropdown-toggle" data-toggle="dropdown"></i>
                <ul class="dropdown-menu">
                  <li><a (click)="addSongToLibrary(song)" class="link">Add to Library</a></li>
                  <li><a (click)="addSongToQueue(song)" class="link">Add to Queue</a></li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#" class="link">Add to Playlist</a>
                    <ul class="dropdown-menu" *ngFor="let playlist of currentUser.playlists">
                      <li><a tabindex="-1" (click)="addSongToPlaylist(playlist.id, song.id)" class="link">{{playlist.title}}</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </td>
          </tr>
        </table>
      </div>

      <br>
    </div>
  </div>
</div>
