<div class="navbar navbar-inverse navbar-fixed-left">

  <ul class="nav navbar-nav" bs-active-link>
    <li><a routerLink="/home"><i class="fa fa-music" style = "padding-right: 10px"></i>Browse</a></li>
    <!--<li><a routerLink="/songs"><i class="fa fa-music"style = "padding-right: 10px"></i>Songs</a></li>-->
    <li><a routerLink="/albums"><i class="fa fa-dot-circle-o" style = "padding-right: 10px"></i>Albums</a></li>
    <li><a routerLink="/artists"><i class="fa fa-user" style = "padding-right: 10px"></i>Artists</a></li>
    <li><a routerLink="/history"><i class="fa fa-history" style = "padding-right: 10px"></i>History</a></li>
    <li><a routerLink="/library"><i class="fa fa-book" style = "padding-right: 10px"></i>Library</a></li>
    <!--<div class = "header">-->
    <!--<li>Library </li>-->
    <!--</div>-->

    <div class = "header">
      <li>Followed Playlists</li>
    </div>
  </ul>
</div>
