<div class = "bg">
  <div class="container">
    <div class="row">
      <h1>Search Results - {{query}}</h1>
      <br><hr>

      <!-- Display num results found -->
      <div *ngIf = "resultNum == 0">
        0 results found for {{query}}
      </div>

      <div *ngIf = "resultNum == 1">
        {{resultNum}} result found for {{query}}
      </div>

      <div *ngIf = "resultNum > 1">
        {{resultNum}} results found for {{query}}
      </div>
     <br>

      <div *ngIf = "userResults.length > 0">
        <h1>Users</h1>
        <hr>
        <div class="row">
          <div class="wrapper">
            <div *ngFor = "let result of userResults">
                <div>
                  <a [routerLink]="'/user/'+ result.id"><img [src]="result.profilePicture" class = "fade"></a>
                  <p align="center">Name: {{result.name}}</p>
                  <p align="center">Username: {{result.userName}}</p>
                </div>
            </div>
          </div>
        </div>
      </div>


  </div>
</div>
</div>
