<top-nav></top-nav>
<left-nav></left-nav>
<right-nav [friendList]="currentUser.friends"></right-nav>

<div class="row">
  <div id="grid">
    <div id="gridtop1">
      <a href="#"><img src="../../assets/images/profExample.png" class = "fade"></a>
      <p align="center">PAWSA</p>
      <p align="center">10 Followers</p>
    </div>

    <div id="gridtop2">
      <a href="#"><img src="../../assets/images/profExample.png" class = "fade"></a>
      <p align="center">Panic! At The Disco</p>
      <p align="center">2,974,944 FOLLOWERS</p>
    </div>

    <div id="gridtop3">
      <a href="#"><img src="../../assets/images/profExample.png" class = "fade"></a>
      <p align="center">Anderson .Paak</p>
      <p align="center">445,784 FOLLOWERS</p>
    </div>

    <div id="gridtop4">
      <a href="#"><img src="../../assets/images/profExample.png" class = "fade"></a>
      <p align="center">Jhene Aiko</p>
      <p align="center">4,141,286 FOLLOWERS</p>
    </div>
  </div>
</div>

<br>
<!-- Recently Played Artists-->

<div class="row">
  <table width = "90%">
    <tr>
      <td><h3>Public Playlists</h3></td>
      <td align="right" class = linkInfo><a href = "#">See All</a></td>
    </tr>
  </table>
  <hr style="margin-right:80px">
</div>
