<top-nav></top-nav>
<div class="register">
  <div class="row">
    <div align="center">
      <br><br>
      <img src="../../assets/images/AmplioLogo.png"><br>
      <h2><i>Another music streaming service.</i></h2>
    </div>
    <alert></alert>
    <div class="register_box">
      <section class="main-box">
        <h3 align="center">Register for a User Account</h3>
        <hr>
        <form name="form" (ngSubmit)="f.form.valid && performRegister()" #f="ngForm">
          <!--TODO if err then errclass-->
          <div class="input-box">
            <span class="input-group-addon i_icon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="username" type="text" class="form-control input_layout" name="userName" #userName="ngModel"
                   placeholder="Username" [(ngModel)]="newUser.userName" required>
            <div *ngIf="f.submitted && !userName.valid">AHHH bad user</div> <!--TODO class-->
          </div>
          <!--TODO if err then errclass-->
          <div class="input-box">
            <span class="input-group-addon i_icon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control input_layout" name="password" #password="ngModel"
                   placeholder="Password" [(ngModel)]="newUser.password" required>
            <div *ngIf="f.submitted && !password.valid">AHHH bad user</div> <!--TODO class-->
          </div>
          <!--TODO if err then errclass-->
          <div class="input-box">
            <span class="input-group-addon i_icon"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <input id="firstName" type="text" class="form-control input_layout" name="firstName" #firstName="ngModel"
                   placeholder="First Name" [(ngModel)]="newUser.firstName" required>
            <div *ngIf="f.submitted && !firstName.valid">AHHH bad user</div>
            <!--TODO class-->
          </div>
          <!--TODO if err then errclass-->
          <div class="input-box">
            <span class="input-group-addon i_icon"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <input id="lastName" type="text" class="form-control input_layout" name="lastName" #lastName="ngModel"
                   placeholder="Last Name" [(ngModel)]="newUser.lastName" required>
            <div *ngIf="f.submitted && !lastName.valid">AHHH bad user</div> <!--TODO class-->
          </div>
          <!--TODO if err then errclass-->
          <div class="input-box">
            <span class="input-group-addon i_icon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input id="emailBox" type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                   class="form-control input_layout" name="email" #email="ngModel"
                   placeholder="Email" [(ngModel)]="newUser.email" required>
            <div *ngIf="f.submitted && !email.valid">AHHH bad user</div> <!--TODO class-->
          </div>
          <button type="submit" class="btn_style">REGISTER</button>
        </form>
        <button type="button" class="loginbtn_style" [routerLink]="['/login']"><span>Back</span></button>
      </section>
    </div>
  </div>
</div>

